/* #formMakeOrder input:invalid {
    border: 2px solid red;
}

#formMakeOrder input:valid {
    border: 1px solid black;
} */
.error {
    border: 2px solid red;
}
.info-input {
    margin-bottom: 10px;
}
.btn-delete-from-cart {
    background-image: url("../node_modules/bootstrap-icons/icons/trash-fill.svg");

    background-repeat: no-repeat;
    background-position: center;

    background-size: 50%;
    width: 50px;
    height: 30px;
}
