.control {
  margin-bottom: 15px;
}
.block-filter * {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .sort-btns-option {
    display: none;
  }
}

.sort-btns-option {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.sort-btns-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.sort-btns {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-sort {
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(253, 184, 39, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: background-color 250ms linear;
  /* text-transform: uppercase; */
}

.btn-sort--active {
  background-color: var(--deep-yellow-accent);
}

@media screen and (min-width: 768px) {
  .btn-sort {
    padding: 8px;
    font-size: 18px;
    line-height: 24px;
  }

  .sort-btns-wrapper {
    margin-bottom: 20px;
    flex-direction: row;
    width: 140px;
    justify-content: space-between;
  }

  .sort-btns {
    width: 56px;
  }
}
